<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBaFSy7ceezKvmqNwfZJnxwuk-36jLSJug</string>
	<key>GCM_SENDER_ID</key>
	<string>152549097696</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.lifeSaver.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>lifesaver-3000</string>
	<key>STORAGE_BUCKET</key>
	<string>lifesaver-3000.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:152549097696:ios:9a47b1cb2f3ffab9d91085</string>
</dict>
</plist>